@import "../../styles.scss";
.education-header{
    font-size: 25px;
    color:$navText;
    padding: 10px;
    font-family: $primaryFont;
    
}
.education-container{
    color:$bodyText;
    display: grid;
    grid-template-columns : repeat(3, 1fr);
   
    font-family: $primaryFont;
    
    justify-content: stretch;
    
    text-align: center;
    .school-container {
        
        border-left: 2px solid ;
    border-right: 2px solid;
   
    
    
   
    }
    .school-name{
        display: flex;
        font-size: 23px;
        background: lighten($color: $bodyBg, $amount: 20);
        color : $navText;
        padding: 10px;
        height: 4ch;
       
        align-self:stretch;
        overflow: hidden;
        
    }
    .school-dates {
        display: block;
        
        background-color: #fff;
     padding : 10px 0 ;
    justify-self: baseline;
    }
    .school-area{
        
        padding: 10px;
        vertical-align: center;
        
    }
    }
    @media screen and (max-width : 720px) {
       .education-container{
           display: flex;
           flex-direction: column;
           border-bottom: 2px solid $navBg;
           border-right: 0px;
           margin-bottom: 2px;
       }
    }