@import "../../styles.scss";

/***************** FONTS ********************/
header {
    display: fixed;
    height: 100px;
    background-color: $navBg;
}

#site-id {
    font-size : 30px;
    
    position: absolute;
    top : 20px;
    left: 20px;
    a {
        text-decoration: none;
        color : $navText;

        & :hover{
            color: darken($color: $navText, $amount: 10);
        }
    }
}
#tagline{
    display:block;
    position: absolute;
    top: 52px;
    left : 21px;
    color : darken( $bodyText, 20);
   

}
.icons {
    position: absolute;
    right: 20px;
    font-size: 30px;
    color : $navText;
    a {
        color : $navText;
        & :hover {
            color : darken($color: $navText, $amount: 10)
        }
    }
}
    i {
        
        padding: 20px;
    }


#initials {
    display: none;
}

@media screen and (max-width: 480px) {
    #full-name {
        display:none;
    }
    #initials {
        display : block;
    }
    #tagline {
        font-size: 15px;
        width:33vw;
    }
}
a {
    h1{
    color : $navText;
    text-decoration: none;
    }
    :hover {
       
        color: lighten($navText, 10);
    }
}
