<header  >
  
   <div id="site-id">
      <a routerLink="/"><h1 id="full-name" >Patrick DiGiovanni</h1>
      <h1 id="initials">PD</h1></a>
      </div> 
      <p id="tagline">Creative Technology Professional</p>
     <div class="icons ">
    <a href="https://facebook.com/deepfeltvisions"><i class="fab fa-facebook-square"></i></a>
    <a href="https://github.com/patrickdigiovanni"><i class="fab fa-github-square "></i></a>
    <a href="https://www.linkedin.com/in/pdigiovanni1/"><i class="fab fa-linkedin "></i></a>
     </div>
</header>
