@import "../../styles.scss";

/***************** FONTS ********************/


h1 {
    font-family: $primaryFont;
    font-size: 22px;
    margin-bottom: .5rem;
    padding: 10px 0 0 10px;
    
}

h2 {
    font-size: 1.6rem;
}

header {
//     position: relative;
//     color: $navText;
//     align-self: right;
//     a {
//         text-decoration: none;
//         color: $navText;
//         &:hover {
//             color: darken($color: $navText, $amount: 10)
//         }
//     }
//     p {
//         font-size: .5em;
//         font-family: $primaryFont;
//         padding-left: 40px;
//     }
// }

// main {
//     padding: 2rem;
//     background: rgb(78, 78, 78);
// }

.icons {
    position: absolute;
    right: 20px;
    font-size: 30px;
}
    i {
        padding: 20px;
    }
}

#initials {
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    #full-name {
        display:none;
    }
    #initials {
        visibility: visible;
    }
}
a {
    h1{
    color : $navText;
    text-decoration: none;
    }
    :hover {
       
        color: lighten($navText, 10);
    }
}