@import "../app.component.scss";

/***************** FONTS ********************/

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
}

h1 {
    font-size: 22px;
    margin-bottom: .5rem;
    padding-right: 20px;
}

h2 {
    font-size: 1.6rem;
}

header {
    position: relative;
    color: $navText;
    align-self: right;
    a {
      text-decoration: none;
      color: $navText;
      &:hover {
        color: darken($color: $navText, $amount: 10)
      }
    }
    p {
    
      font-size: .5em;
      font-family:$raleway;
     padding-left:40px;
    }
    
}

main {
    padding: 2rem;
    background: rgb(78, 78, 78) ;
}

.icons {
  position: absolute;
  right: 20px;
  font-size: 30px;
  i{
      padding: 20px;
  }
}

