<header  >
  
   <div id="site-id">
      <a routerLink="/"><h1 id="full-name" >Patrick DiGiovanni</h1>
      <h1 id="initials">PD</h1></a>
      </div> 
      <h2 id="tagline">Creative Technology Professional</h2>
     <div class="icons ">
    <a href="https://facebook.com/deepfeltvisions" alt="Deepfelt Visions on Facebook"><i class="fab fa-facebook-square"></i></a>
    <a href="https://github.com/patrickdigiovanni" alt="Github Profile"><i class="fab fa-github-square "></i></a>
    <a href="https://www.linkedin.com/in/pdigiovanni1/" alt="LinkedIn Profile"><i class="fab fa-linkedin "></i></a>
     </div>
</header>
