@import "../../styles.scss";
footer {
    display: block;
    position: static;
    width : 100%;
    bottom: 0;
    color : $navText;
    text-align:right;
    font-size: ($pSize - .5vw);
    background-color: darken($color: $navBg, $amount: 20);
   
    padding: 10px;
    p {
        padding: 2px;
    
    a{
        color: darken($navText, 20);
        &:hover{
            color : darken($color: $navText, $amount: 10);
        }
    }
}
    #firebase-icon{
        float : left;
        opacity: .5;
      padding-top:10px;
       
    }

}