<footer>
  <span id="firebase-icon">
    <svg-icon src="../../assets/img/icon/firebase.svg" style="max-height: 20px"></svg-icon>
    </span>
  <p>This site was built using <i class="fab fa-angular"></i> Angular and <i class="fab fa-node-js"></i> node.js.  </p>
  <p> The code can be viewed or downloaded from <a href="https://github.com/patrickdigiovanni/personal-website">github.</a> </p>

<p id="copyright">Images and other assets &copy; 2018 <a routerLink="/contact">Patrick DiGiovanni</a></p>

</footer>