<footer>

  <p>This site was built using <i class="fab fa-angular"></i> Angular and <i class="fab fa-node-js"></i> node.js. <span id="firebase-icon">
    <svg-icon src="../../assets/img/icon/firebase.svg" style="max-height: 20px"></svg-icon>
    </span> </p>
  <p> All of the code can be viewed or downloaded from <a href="https://github.com/patrickdigiovanni/personal-website">this github repository.</a> </p>

<p id="copyright">All images and other original content &copy; 2018 <a routerLink="/contact">Patrick DiGiovanni</a></p>

</footer>