@import "../../styles.scss";
.gallery {
    display:grid;
    grid-template-columns:7vw 40vw 40vw ;
    align-content: center;
  grid-gap: 20px;
    z-index:  0;
    

  }
  
section {
   
    border-radius: 3px;
    border: solid 1px $navText;
    max-width: 100%;
    margin: auto;
    padding:10px;
    flex-grow:1;
  
   position: fixed;
    align-content: center;
    position: relative;
    justify-content: space-evenly;
    z-index: 0;
    a {
        text-decoration: none;
        z-index: 0;
        
    }
  }
  h1 {
    color: $bodyText;
    padding: 10px;
    background-color: $navBg;
    display: inline-block;
    margin-top: 7px;
  }
  #portfolio {
  display: inline;
  }
  .section-img {
   
   width: 100%;
    opacity:.7;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 15px 0 ;
    background-color: $black1;
    z-index: 0;
   
    
  }
  
  .bigtitle {
    background-color: transparentize($navBg, $amount: .2);
      position: absolute;
    padding: 3px;
    bottom:0;
    right:0;
  }
  
  .bigtitle-title {
    color: $navText;
    font-size: 2vh;
    margin-bottom: 10px;
    text-align: right;

  }
  #col1{
    grid-column-start: 2;
    .section-img {
      max-height : 5vh;
    }

  }
  
  #col2{
    grid-column: 3;
    .section-img{
      max-height  : 13vh;
    }
    
  }
@media screen and (max-width:480px){
  .gallery{
  grid-template-columns: 10vw 80vw;
  #col1{
    grid-column: 2;
  }
  .bigtitle-title{
  font-size: 2vh;
  }
  #col2{
    grid-column: 2;
   
  }
}
}
