@import "../../styles.scss";
.gallery {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    z-index:  0;
  }
  
section {
   
    border-radius: 3px;
   
    max-width: 400px;
    margin: auto;
    padding:10px;
    flex-grow:1;
    overflow: hidden;
    align-content: center;
    position: relative;
    justify-content: space-evenly;
    a {
        text-decoration: none;
         
        
    }
  }
  
  .section-img {
   height:200px;
   width: 100%;
    opacity:.7;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 15px 0 ;
    
    
    
  }
  
  .bigtitle {
    background-color: $navBg;
      position: absolute;
    padding: 10px;
    bottom:0;
    right:0;
  }
  
  .bigtitle-title {
    color: $kelly;
    font-size: 20px;
    margin-bottom: 10px;

  }
@media (min-width : 1080px) {
  section {
    max-width: 800px;
  }
}