@import '../../styles.scss';
#top-nav {
    background-color: $navBg;
    overflow: hidden;
    a {
        color:$navText;
        text-decoration: none;
    }
}
.btn {
    background-color: $navBg;
    color:$navText;
    padding: 10px;
    font-size: 20px;
    font-family: $primaryFont;
}
.dropdown-menu {
    position:fixed;
    z-index: 2;
}
@media screen and (max-width:480px){
    #collapsingNavbar4 {
        display: block;
    }
}
