@import '../../styles.scss';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

#contact{
    color : $navText;
    h1{
        padding:15px;
        font-size: 30px;
        font-size : $h1Size;
    
    }
    p{ padding: 20px;
        padding-top:0;
    }
}
form {
    
    input {
        width: 25vw;
        margin-left: 10vw;
    }
    textarea {
        width: 80vw;
        height : 50vh;
        margin-left: 10vw;
    }
    button{
        display:inline-block;
        background-color: lighten($navBg, 25);
        padding : 20px;
        margin-left :40vw;
        margin-top: 7px;
        border-radius : 5px;
        color: darken($color: $secondary-b, $amount: 40);
        border: solid 2px $navText;
        
    }
}