@import "../../styles.scss";
ngx-gallery {
    background-color: $bodyBg;
    height : 100%;
    padding-top: 20px;

}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 30px;
  
    align-content: center;
  }
  
  
h1 {
    color : $bodyText;
    text-align: center;
    padding-top : 20px;
    padding-bottom: 10px;
    font-size: 40px;
}
p{
    color :lighten( $bodyText, 30);
    background-color: lighten($bodyBg, 15);
    border-bottom: solid 2px $primary--lightest;
    border-top:  solid 1px $primary;
    padding:20px;
    text-align: center;
    line-height: 25px;
}