@import "../../styles.scss";
.leading {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 0 !important;
    background-image: url("../../assets/img/particle-systems/full/12.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#welcome-text {
    padding: 10px;
    color: invert($bodyText);
    grid-row: 1;
    background: invert($bodyBg);
    opacity: 0.6;
}

#core-strengths {
    grid-row-start: 2;
    .strength-name {
        color: $navText;
        background-color: $navBg;
        opacity: 0.6;
        padding: 10px;
        h1 {
            padding: 5px;
        }
    }
    .strength-detail {
        color: $bodyBg;
        background-color: $bodyText;
        opacity: 0.5;
        padding: 10px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: calc(0.75em + 2vw);
    }
}

@media screen and (max-width: 800px) {
    .leading {
        grid-template-rows: 19vh auto;
    }
}