@import "../../styles.scss";
.leading {
    display : grid;
    grid-template-rows: 150px auto;
    overflow : hidden;
    z-index: 0 !important;
}
#welcome-text{
    padding-left :  20px;
    color : $bodyText;
    grid-row:1;
}
#core-strengths{
    grid-rows : 2  3;
.strength-name{
    color : $navText;
    font-size : 25px;
    background-color: $navBg;
    padding: 10px;
    
}
.strength-detail {
    color: $bodyBg;
    background-color: $bodyText;
    padding : 10px;
}}
