@import "../../styles.scss";
.leading {
    display :flex;
    flex-direction: column;
    overflow : hidden;
    z-index: 0 !important;
   
}
#welcome-text{
    
    padding: 10px;
    color : $bodyText;
    grid-row:1;
   
}
#core-strengths{
    grid-row-start : 2;
.strength-name{
    color : $navText;
    
    background-color: $navBg;
    padding: 10px;
    
}
.strength-detail {
    color: $bodyBg;
    background-color: $bodyText;
    padding : 10px;
}}
@media screen and (max-width : 400px){
    p{   font-size : calc(.75em + 2vw);
    }
}
@media screen and (max-width : 800px){
   .leading {
    grid-template-rows:19vh auto;

   }
}