@import "../../styles.scss";
nav{
    position: static;
    background-color: $navBg;
    .nav-link, button{
         
         color: $navText;
         &:hover{
            color: darken($navText, 20);
         }
     }
     li{
         
         .dropdown-item{
             color:darken($navText, 40);
             &:hover{
                color: darken($navText, 20);
             }
         }
         
     }
    *{ z-index: 2000;
     
    }
}

 
.dropdown {
    color : $navText;
}
@media screen and (min-width : 768) {
    .navbar-toggler{
        display:none;
    }
}
