@import "../../styles.scss";
nav{
    position: static;
    background-color: $navBg;
    
    padding-top: .5em;
    
    .nav-link, button{
         padding: .2em;
         color: $navText;
         &:hover{
            color: darken($navText, 20);
         }
     }
     li{
         
         .dropdown-item{
             color:darken($navText, 40);
             &:hover{
                color: darken($navText, 20);
             }
         }
         
     }
    *{ z-index: 2000;
     
    }
}

 
.dropdown {
    color : $navText;
}
@media screen and (max-width : 768px) {
    nav{
        font-size: 3vh;
        .nav-link{
            padding : 5px;
        }
    }
    
}
@media screen and (min-width: 769px) {
    nav{
        font-size: 2vw;
    }
    .navbar-toggler{
      
    }
}
