<div class="resume-container">
    <h1 class="resume-header">Professional Experience</h1>
    <div class="job-container container-fluid" *ngFor="let job of work">
        <div class="left">
            <h3 class="company-name">
                <a href="{{job.website}}" target="_blank">{{job.company}}</a>
            </h3>
            <p class="job-dates">{{job.startDate}}<br/>to<br/>{{job.endDate}}</p>

            <p class="job-position">{{job.position}} </p>
        </div>
        <div class="right">
            <p class="job-description">{{job.summary}} </p>
        </div>
    </div>
  


</div>
