@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway'); 

$raleway: 'Raleway', serif;
$playfair-display: 'Playfair Display', sans-serif; 

$darkgrey: #34495e;
$red: #e74c3c;
$yellow: #C9C243;
$orange: #FFA644;
$navText: #4e9ecf;
$titleText : white;
$navBg: rgb(53, 53, 53);
$bodyBg : gray;
$bodyText : grey;
$headerBg : grey;